.nav{
    list-style-type: none;
    padding-left: 0%;

    width: 50vw;
    margin: auto;

    text-align: center;
    
}

.all{
    background-color: rgb(54, 41, 1);
}

.nav>li {
    display: inline-block;
    border: outset;
    background-color: gold;
}

.nav>li>a {
    text-decoration: bisque;
}

p{
    color: blueviolet;
    text-align: center;
    background-color: gold;
    margin-left: 30vw;
    margin-right: 30vw;
}

.hans{
    margin-left: 80vw;
}

h1{
    text-align: center;
    color: rgb(248, 231, 177);
    text-size-adjust: 40vw;
}
.huns{
    margin-left: 12vw;
    margin-right: 12vw;
}

dl>dd{
    color: white;
    background-color: rgb(96, 26, 26);
}

.waffle>ul{
    width: 100vw;
    margin: auto;
    text-align: center;
}

h3{
    color: rgb(248, 231, 177);
    text-align: center;
}

img.map{
    display: inline-block;
    align-content: center;
    block-size: 60vw;
}
img.poster{
    display: inline-block;
    align-content: center;
    block-size: 100vw;
}
img.logo{
    display: inline-block;
    align-content: center;
    block-size: 20vw;
}

a.one{
    color: rgb(221, 142, 46);
}